# Compiled JavaScript files
lib/

# TypeScript v1 declaration files
*.d.ts

# TypeScript v2 declaration files
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

